.Container {
  width: 800px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 50px;
  background-color: rgb(255, 255, 255);
  border: solid black 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 25px;
}

.item-button {
  width: 300px;
  height: 62px;
  font-size: calc(8px + 2vmin);
  background-color: rgb(255, 255, 255);
  border: black solid 2px;
  color: rgb(0, 0, 255);
  text-decoration: line-through;
  text-align: center;
  display: inline-block;
}

.text-input {
  width: 300px;
  height: 60px;
  font-size: calc(8px + 2vmin);
  background-color: rgb(0, 0, 255);
  border: unset;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
::placeholder {
  color: white;
}

.item-list {
  font-size: calc(10px + 2vmin);
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: block;
}

.item-list__grocery {
  width: 400px;
  color: black;
  background-color: rgb(255, 248, 234);
}

.item-list__grocery:hover {
  cursor: crosshair;
}

.item-list__cart {
  width: 400px;
  background-color: white;
  color: rgb(0, 0, 255);
}

.item-list__grocery .list-item:nth-child(even) {
  opacity: 70%;
  background-color: rgb(255, 255, 255);
}
